.card-item {
  margin-bottom: 20px;
  min-width: 33%;
  max-width: 30%;
}

.row-container:has(.single-card) #CardsCont {
  width: 100%;
}

.row-container.single-card {
  width: 100%;
}

.row-container.single-card .card-item {
  min-width: calc(20% + 100px);
  max-width: 33%;
}

.border-bottom {
  border-bottom: 1px solid red;
}

.Filtro{
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 20px;
}
body {
    overflow-x: hidden;
    max-width: 100%;
    padding: none;
    margin: none;
  }
img {
    max-width: 100%;
}
@media(min-width:2000px){
.Filtro{
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 40px;
}
}

@media (max-width: 912px) {

.Filtro{
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 5px;
}
}