/* ESSE AQUI E O SITE COM PIOR RESPONSIVIDADE, TA MUITO RUIN */

html{
    overflow-x: hidden;
    max-width: 10px;
    overflow-y: hidden;
}
body{
    width: 100vw;
}
#Container{
    display: inline;
    padding: 0%;
    margin: 0%;
    position: relative;
    left: -0.3%;
}
.textoVaz{
    position: absolute;
    top: 50%;
    left: 40%;
}
.prodCont {
  border-style: solid;
  border-width: 2px;
  width: 98.7vw;
  height: 37vh;
  display: grid;
  grid-template-areas:
    "prod prodTit . ."
    "prod . prodCa prodDe";
  row-gap: 0px;
  column-gap: 0px;
  font-size: 2rem;
}


.prod {
  grid-area: prod;
  position: absolute;
  left: 0%;
  width: auto;
  height: calc(50vw / 3);
  max-width: calc(80vw - 10px);
  max-height: calc((50vw - 10px) / 3);
}

/* .prodCont {
  border-style: solid;
  border-width: 2px;
  width: 98.7vw;
  height: 10vh;
  display: grid;
  grid-template-areas:
    "prod prodTit . ."
    "prod . prodCa prodDe";
  row-gap: 0px;
  column-gap: 0px;
  font-size: 2rem;
}  good for small scale */
.prodCa {
  grid-area: prodCa;
  position: relative;
  left: 0;
  font-size: large;
  max-width: 13rem;
  max-height: 2rem;
  background-color: white;
  border-color: blue;
  border-width: 0.3rem;
  color: blue;
}

.prodCa:hover {
  background-color: lightblue;
  border-color: lightblue;
  color: whitesmoke;
  border-width: 0.4rem;
}

.prodTit {
  grid-area: prodTit;
  position: relative;
  left: 6%;
  white-space: nowrap;
  overflow-wrap: break-word;
  word-break: break-word;
  max-width: 200px;
  font-size: calc(1vw + 1vh);
}

.precoProd {
  position: relative;
  grid-column: 2;
  grid-row: 2;
  left: 15%;
  font-size: calc(1vw + 1vh)
}

.prodDe {
  grid-area: prodDe;
  position: relative;
  left: 0;
  max-width: 6rem;
  max-height: 2rem;
  font-size: large;
  background-color: white;
  border-color: blue;
  border-width: 0.3rem;
  color: blue;
}

.prodDe:hover {
  background-color: lightblue;
  border-color: lightblue;
  color: whitesmoke;
  border-width: 0.4rem;
}

.PP{
  background-color: rgba(127, 255, 212, 0.575);
  position: relative;
  left: calc(40%);
  width: fit-content;
  font-size: calc(150%);
  padding: 15px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: blue;
  border-width: 3px;
  border-color: blue;
}
.PP:hover{
  font-size: calc(155%);
  -webkit-text-stroke-color: gold;
  border-color: gold;
}
.Divide{
  margin-top: 2%;
  margin-bottom: 2%;
  width: 100%;
  text-align: center;
  font-weight: 900;
  font-size: x-large;
}
  
  

  