.card-item {
  margin-bottom: 20px;
  min-width: calc(33%);
  max-width: calc(30%);
}
.row-container.single-card{
  position: relative;
  left: 10%;
}
.row-container.single-card .card-item {
  min-width: calc(100%);
  max-width: 100%;
}
.border-bottom {
  border-bottom: 1px solid red;
}

.Filtro{
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 20px;
}
body {
    overflow-x: hidden;
    max-width: 100%;
    padding: none;
    margin: none;
  }
img {
    max-width: 100%;
}
@media(min-width:2000px){
.Filtro{
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 40px;
}
}

@media (max-width: 912px) {

.Filtro{
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 5px;
}
}