html{
  overflow-x: hidden;
}
.peL{
  text-decoration: none;
  color: inherit;
}
#CardsCont{
  color: white;
  border-style: none;
  display: grid;
}
.row-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card-item {
  margin-bottom: 20px;
  min-width: calc(33%);
  max-width: calc(30%);
}
.row-container.single-card{
  position: relative;
  left: 10%;
}
.row-container.single-card .card-item {
  min-width: calc(140%);
  max-width: 120%;
}
.ajuste {
  width: 100%;
  justify-content: center;
}
.ajuste2 {
  justify-content: flex-start;
}
#mpCont {
  display: flex;
  flex-wrap: wrap;
}

.imgMP {
  height: 110px;
  width: 80px;
}

.border-bottom {
  border-bottom: 1px solid red;
}
.peL:hover{
  text-decoration: none;
  color: inherit;
  cursor:pointer;
}
.textoCarrinho{
    text-align: justify;
    font-size: 12px;
}
.carrinho{
  width: 50px;
  height: 50px;
}
#iconContato{
  font-size: 24px;
}
.pI{
  font-size: 30px;
}
a{
    text-decoration:none;
}

.PS{
 align-content: left;
}
.linksRapidos{
    text-align: left;
    padding: none;
    margin: none;
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: none;
}
    #imagemLogo{
        width:calc(7%);
        height:calc(7%);
    }
.estrelasCard{
  font-size: 20px
}
.textoFooter{
  font-size: 20px;
}
header{
    background:linear-gradient(90deg, rgba(195,27,27,0.94) 0%, rgba(11,19,145,1) 50%, rgba(117,18,185,0.94) 100%);
    color:aliceblue;
}
.estrelasMP{
  font-size: 20px;
}

.Filtro{
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 20px;
}
body {
    overflow-x: hidden;
    max-width: 100%;
    padding: none;
    margin: none;
  }
img {
    max-width: 100%;
}
header{
    max-width: 100%;
}
footer{
    max-width: 100%;
}
.newsletter{
  font-size: 30px;
}
.newsletterTexto{
  font-size: 25px;
}
#imCa{
  height: 400px;
}
.test1{
  grid-column: 3;
  max-width: 16rem;
  font-size: large;
  flex-wrap: wrap;
  color: red;
  -webkit-text-stroke-width: 0.4px;
  -webkit-text-stroke-color:gold;
  box-shadow: 10px;
}
.CC{
  position: absolute;
  width: calc(20%);
  height: 95vh;
  z-index: 15;
  right: -30%;
  display: none;
}
.CC.active{
  right: 0%;
  display: block;
}
.clo{
  height: auto;
  width: 5%;
}
.CarinCont {
  position: relative;
  width: 100%;
  flex-grow: inherit;
  display: flex;
  background-color: rgba(245, 245, 245, 0.8);
  flex-direction: column;
  overflow: hidden;
  transition: 0.5s;
}

.caripro {
  height: 150px;
  display: grid;
  grid-template-areas:
    "imCari ticari ticari"
    "imCari pecari recari";
  grid-gap: 5px;
  border-style: solid;
  
}

.ticari {
  grid-area: ticari;
  position: relative;
}

.pecari {
  grid-area: pecari;
}

.recari {
  grid-area: recari;
  max-width: calc(90%);
  max-height: calc(40%);
  position: relative;
  top: 50%;
}

.imCari {
  grid-area: imCari;
  height: 100%;
  width: 4rem;
}
.OI {
  border-style: solid;
  color: black;
  cursor: pointer;
  text-align: center;
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  
}

.PF{
  margin-top: 100px;
  font-weight: 800;
  -webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: gold;
}
@media(min-width:2000px){
  body {
    overflow-x: hidden;
    max-width: 100%;
  }

.imgMP{
    width:200px;
    height: 220px;
}

#imCa{
  height: 400px;
}
#Cards{
  border-style: solid;
  border-width: 3px;
  height: 798px;
}
.card-img-top{
    height: 410px;
}
.email{
    line-break: anywhere;
}
header{
  align-items:self-end;
}

.Filtro{
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 40px;
}
.tituloMP{
font-size: 35px;
}
.estrelasMP{
font-size: 40px;
}
.newsletter{

font-size: 50px;

text-align: center;
}
.newsletterTexto{
font-size: 40px;
}
.contatos{
  line-break: auto;
}
.email{
  line-break: anywhere;
}
.card .card-title {
font-size: 40px;
}
.card .card-text {
font-size: 30px;
}
.estrelasCard {
font-size: 30px;
}
.pI{
  font-size: 70px;
}
.linksRapidos{
  font-size: 30px;
}
.textoFooter{
  font-size: 50px;
}
.contatos{
  font-size: 40px;
}
#iconContato{
  font-size: 50px;
}
.PS{
  font-size: 20px;
}
.carrinho{
  width: 90px;
  height: 90px;
}
.textoCarrinho{
  font-size: 25px;
}
}

@media(max-width: 1200px) {
    body {
        overflow-x: hidden;
        max-width: 100%;
      }
    
    .imgMP{
        width:80px;
        height: 100px;
    }
    
    .card-img-top{
        height: 410px;
    }
    .email{
        line-break: anywhere;
    }
    #imCa{
      width: auto;
    }
    #Cards{
      border-style:dashed;
      border-width: 2px;
      height: 450px;
    }
    #imCa{
      min-height: 200px;
    }
    #TiCr{
      font-size: medium;
    }
    #Cards{
      width: 192px;
    }
    .ajuste{
      justify-content:space-between;
    }
}

@media (max-width: 912px) {
    header{
        align-items:self-end;
    }

    .Filtro{
        display: grid;
        grid-auto-flow: row;
        grid-row-gap: 5px;
    }
    .imgMP{
        width:80px;
        height:100px;
    }
    .card-img-top{
        height: 310px;
    }
    .email{
        line-break: anywhere;
    }
    .tituloMP{
      font-size: 13px;
    }
    .estrelasMP{
      font-size: 10px;
    }
      .newsletter{

      font-size: 20px;

      text-align: center;
    }
  .newsletterTexto{
    font-size: 15px;
  }
.estrelasCard {
  font-size: 13px;
  }
#imCa{
  width: auto;
}
#Cards{
  border-style:dashed;
  border-width: 2px;
  height: 450px;
}
#imCa{
  min-height: 200px;
}
#TiCr{
  font-size: medium;
}
#Cards{
  width: 180px;
}
}

@media (max-width: 540px) {
    body {
        overflow-x: hidden;
        max-width: 100%;
      }
    header{
        align-items:self-end;
    }

    .Filtro{
        display: grid;
        grid-auto-flow: row;
        grid-row-gap: 5px;
    }
    .imgMP{
        width:90px;
        height:110px;;
    }
    .card-img-top{
        height: 250px;
    }
    .contatos{
        line-break: auto;
    }
    .email{
        line-break: anywhere;
    }
    .card .card-title {
      font-size: 15px;
    }
    .card .card-text {
      font-size: 10px;
    }
    .estrelasCard {
      font-size: 10px;
    }
     .tituloMP{

      font-size: 15px;

    }
    .estrelasMP{
      font-size: 20px;
    }
    .textoFooter{
      font-size: 14px;
    }
    .pI{
      font-size: 15px;
    }
    .linksRapidos{
      font-size: 10px;
    }
    .contatos{
      font-size: 10px;
    }
    #iconContato{
      font-size: 12px;
    }
    .newsletter{
      font-size: 20px;
      text-align: center;
    }
  .newsletterTexto{
    font-size: 15px;
  }
      
    .welcome{
      font-size: 10px;
    }
  .PS{
    font-size: 10px;
  }
  .carrinho{
    width: 40px;
    height: 40px;
  }
  .textoCarrinho{
    font-size: 8px;
  }
  
  #imCa{
    min-height: 100px;
  }
  #TiCr{
    font-size: small;
  }
  #CoP{
    font-size: x-small;
  }
  .card-item {
    margin-bottom: 0px;
    min-width: fit-content;
  }
  .ajuste, .ajuste2{
    justify-content: center;
  }
}
@media(max-width:320px){
  header{
  display: grid;
 grid-auto-flow: row;

  }
  
.card .card-title {
font-size: 10px;
}
.card .card-text {
font-size: 9px;
}
.estrelasCard {
font-size: 7px;
}
.textoFooter{
  font-size: 12px;
}
#CoP{
  font-size: xx-small;
}
}